print ()-> output
input ()-> input

In [3]:
name = "Bhupendra Singh"
city = "lucknow"

In [4]:
print("Information about me")
print(name)
print(city)

Information about me
Bhupendra Singh
lucknow

In [5]:
print('Information about me :', name , city)

Information about me : Bhupendra Singh lucknow

In [6]:
print('I am', name , 'and i live in ', city)

I am Bhupendra Singh and i live in  lucknow

#f= formated string

In [7]:
print(f"I am{name}and i live in {city}")

I amBhupendra Singhand i live in lucknow

In [8]:
n1 = "Aditi"
c1 = "Lucknow"
n2, c2 = "Aditi", "Lucknow"
n3, c3 = 'Bhupendra','lucknow'
n4, c4 = 'hema','Lucknow'

In [9]:
print(f'{n1}{c1}')
print(f'{n2}{c2}')
print(f'{n3}{c3}')
print(f'{n4}{c4}')

AditiLucknow
AditiLucknow
Bhupendralucknow
hemaLucknow

In [10]:
print(f'{n1:15}{c1}')
print(f'{n2:15}{c2}')
print(f'{n3:15}{c3}')
print(f'{n4:15}{c4}')

Aditi          Lucknow
Aditi          Lucknow
Bhupendra      lucknow
hema           Lucknow

Text alignment
< left 
> right 
^ centre

In [11]:
print(f'1.{n1:^15}{c1}')
print(f'2.{n2:^15}{c2}')
print(f'3.{n3:^15}{c3}')
print(f'4.{n4:^15}{c4}')

1.     Aditi     Lucknow
2.     Aditi     Lucknow
3.   Bhupendra   lucknow
4.     hema      Lucknow

SEPRATIONS

In [12]:
print (n1,n2,n3,n4)

Aditi Aditi Bhupendra hema

In [15]:
print(n1,n2,n3,n4,sep='\t')

Aditi	Aditi	Bhupendra	hema

In [16]:
print(n1,n2,n3,n4,sep='\n')

Aditi
Aditi
Bhupendra
hema

In [17]:
print(n1,n2,n3,n4,sep=', ')

Aditi, Aditi, Bhupendra, hema