In [18]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
vegetables = {
    'Name': ['potato', 'tomato','carrot','cabbage'],
    'Weight': ['10kg', '40kg','20kg', '60kg'],
    'Price' : ['200','400','100', '350']
}

kfc = pd.DataFrame(vegetables)
kfc

      Name Weight Price
0   potato   10kg   200
1   tomato   40kg   400
2   carrot   20kg   100
3  cabbage   60kg   350

In [20]:
kfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Weight  4 non-null      object
 2   Price   4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [21]:
kfc.columns.tolist()

['Name', 'Weight', 'Price']

In [22]:
kfc['Name']

0     potato
1     tomato
2     carrot
3    cabbage
Name: Name, dtype: object

In [23]:
kfc.Name

0     potato
1     tomato
2     carrot
3    cabbage
Name: Name, dtype: object

In [24]:
kfc['Price']

0    200
1    400
2    100
3    350
Name: Price, dtype: object

In [25]:
kfc[['Name','Price']]

      Name Price
0   potato   200
1   tomato   400
2   carrot   100
3  cabbage   350

In [26]:
kfc['Weight'] * kfc['Price']

TypeError: can't multiply sequence by non-int of type 'str'